* {
	box-sizing: border-box;
}

.menu {
	margin: 20px auto 0;
}

table {
	margin: 0 auto;
}

table.area tr td {
	height: 21px;
	width: 21px;
	border: 1px solid rgba(93,93,123,.26);
	background: rgba(175,165,165,.99);
}

table.area tr td:active {
	background: rgba(134,118,118,.99);
}

.nameGame {
	width: 95px;
	display: block; 
	margin: 10px auto;
}

.opened {

	background: rgba(199,190,190,.72) !important;
	text-align: center;
	vertical-align: middle;
}

.markBomb {
	background: url(../img/bomb.png) !important;
}

.marker {
	background-image: url(../img/bombMarker.png) !important;
	background-color: rgba(199,190,190,.72) !important;
}

.gameover {
	display: block; 
	margin: 0 auto;
	width: 200px;
	height: 85px;
	background: url(../img/gameover.png);
}

.winner {
	display: block; 
	margin: 0 auto;
	width: 200px;
	height: 137px;
	background: url(../img/winner.png);
}

.one { color: blue; }
.two { color: green; }
.three { color: red; }
.four { color: orange; }

input {
	margin-bottom: 10px;
}

.btn {
	display: block;
	margin: 5px auto 0;
	width: 100px;
	align-self: center;
}

.form-control {
	margin-left: 10px;
	width: 100px;
}

input[type="radio"] {
	margin-left: 10px;
}